<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Projeto Gigi</title>
  </head>
  <body>
    <header class="head-image">
      <div class="head-image">
        <img
          src="../img/Gigi-header.jpg"
          alt="Projeto Gigi com um desenho de gato"
          class="head-image"
        />
      </div>
    </header>
    <nav class="navbar">
      <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="caes">Cães</a></li>
        <li><a href="gatos">Gatos</a></li>
        <li><a href="registro">Registro</a></li>
        <li><a href="/sobre">Sobre</a></li>
      </ul>
    </nav>
    <main>
      <div class="main-container">
        <div class="text-container">
          <p class="head-title">O que é o Projeto Gigi?</p>
          <p Class="head-text">
            O Projeto Gigi é uma ferramenta desenvolvida para facilitar a
            comunicação entre pessoas interessadas na adoção de animais e
            pessoas ou instituições que realizam o resgate de animais em
            situação de vulnerabilidade.
          </p>
          <p class="head-title">Como registro um animal para adoção?</p>
          <p class="head-text">
            Para realizar o cadastramento do animal é necessário realizar os
            seguintes passos:<br />
            1. Clique em "Registro". <br />
            2. Preencha o formulário com as informações do animal resgatado.
            <br />
            3. Preencha o formulário com suas informações de contato mais
            atualizadas. <br />
            4. Pronto, o animalzinho já estará aguardando um novo lar cheio de
            amor!
          </p>
          <p class="head-title">Quem é Gigi?</p>
          <p class="head-text">
            Gigi foi uma princesa muito especial, ela foi tirada das ruas com
            aproximadamente 2 meses de vida, sendo encontrada muito suja, com o
            rabo raspado e debaixo de chuva. <br />
            Depois do resgate, ela sempre foi muito amorosa com toda a família,
            sendo grata por ter sido resgatada e sendo muito amada.<br />
            Ela se foi aos 6 anos em 2019 por complicações da FIV.<br />
            Mesmo até hoje, ela nos faz muita falta e saudades de suas boas
            lembranças <br />
            Você será amada para sempre Gigi!<br />
          </p>
          <div class="index-images">
            <div class="each-img">
              <img
                src="../img/baby-gigi.jpg"
                alt="Imagem da gatinha gigi filhote"
                id="baby-gigi"
              />
              <p>Esta é a Gigi um dia após ter sido resgatada.</p>
            </div>
            <div class="each-img">
              <img
                src="../img/gigi.jpg"
                alt="Imagem da Gigi enrolada em um cachecol"
              />
              <p>
                A Gigi sempre adorava uma companhia e amava estar coberta com
                algo, seja um pano, roupa ou um simples brinquedo, ela fazia a
                festa!
              </p>
            </div>
            <div class="each-img">
              <img
                src="../img/gatinhas.jpg"
                alt="Imagem da Gigi com outros gatos"
                id="gatinhas-img"
              />
              <p>
                E por fim a Gigi entre suas irmãs adotivas, todas resgatadas e
                cobertas de amor em um lar.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
