<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Projeto Gigi</title>
  </head>
  <body>
    <header class="head-image">
      <div class="head-image">
        <img
          src="../img/Gigi-header.jpg"
          alt="Projeto Gigi com um desenho de gato"
          class="head-image"
        />
      </div>
    </header>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="caes">Cães</a></li>
        <li><a href="gatos">Gatos</a></li>
        <li><a class="active" href="#">Registro</a></li>
        <!-- <li><a href="">Sobre</a></li> -->
      </ul>
    </nav>
    <div class="main-container">
      <div class="form-container">
        <form action="/registro" method="post">
          <label for="nome">Nome do animal:</label><br />
          <input type="text" id="name" name="nome" required /><br /><br />

          <label for="img">Url da imagem:</label><br />
          <input type="url" id="img-url" name="img" required /><br /><br />

          <p>Qual é o tipo de animal?</p>
          <br />
          <input type="radio" id="gato-form" name="tipo" value="gato" />
          <label for="tipo">Gato</label><br />
          <input type="radio" id="cachorro-form" name="tipo" value="cachorro" />
          <label for="tipo">Cachorro</label><br /><br />

          <p>Macho ou Fêmea?</p>
          <br />
          
          <input type="radio" id="macho-form" name="genero" value="macho" />
          <label for="genero">Macho</label><br />

          <input type="radio" id="femea-form" name="genero" value="femea" />
          <label for="genero">Fêmea</label><br /><br />

          <p>O animal precisa de tratamento médico?</p>
          <br />
          <input type="radio" id="ferimento-sim" name="medic" value="sim" />
          <label for="medic">Sim</label><br />
          <input type="radio" id="ferimento-nao" name="medic" value="nao" />
          <label for="medic">Não</label><br /><br />

          <label for="porte">Qual o porte do animal?</label>
          <select type="number" id="porte-animal" name="porte" required>
            <option value="1">Mini</option>
            <option value="2">Pequeno</option>
            <option value="3">Médio</option>
            <option value="4">Grande</option>
            <option value="5">Gigante</option>
          </select>

          <p id="Div-forms"><b>Informações para contato</b></p>

          <label for="infonome">Nome completo:</label><br />
          <input type="text" id="nome" name="infonome" required /><br /><br />
          <label for="tel">Telefone para contato</label><br />
          <input
            type="tel"
            name="tel"
            id="ctt-tel"
            pattern="[0-9]{2} [0-9]{5}-[0-9]{4}"
            placeholder="xx xxxxx-xxxx"
            required
          />
          <br /><br />
          <label for="infoemail">E-Mail para Contato</label><br />
          <input
            type="email"
            name="infoemail"
            id="ctt-email"
            required
            placeholder="email@example.com"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          /><br /><br />
          <input type="submit"/>
        </form>
      </div>
    </div>
  </body>
</html>
