<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Projeto Gigi</title>
  </head>
  <body>
    <header class="head-image">
      <div class="head-image">
        <img
          src="../img/Gigi-header.jpg"
          alt="Projeto Gigi com um desenho de gato"
          class="head-image"
        />
      </div>
    </header>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/caes">Cães</a></li>
        <li><a href="/gatos">Gatos</a></li>
        <li><a href="/registro">Registro</a></li>
        <li><a class="active" href="#">Sobre</a></li>
      </ul>
    </nav>
    <main>
      <div class="main-container">
        <div class="main-content">
          <div class="main-sobre" style="background-color: aqua;">
            <h1>Projeto final</h1>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
